<div class="container">
  <div class="row">
    <h3>Relevent Links</h3>
    <div class="col-sm-3"><a href="https://github.com/erlaroche">GitHub Link</a></div>
    <div class="col-sm-3"><a href="https://twitter.com/GoddessInnana">Twitter Link</a></div>
    <div class="col-sm-3"><a href="https://www.linkedin.com/in/emma-laroche-8b91113a">LinkedIn Profile</a></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3>Recent Projects</h3>
    <div class="col-md-3"><a href="http://misscarolsballetboutique.herokuapp.com/">Miss Carols Ballet Boutique</a>
    </div>
    <div class="col-md-6"><a href="http://itascaisdlessons.herokuapp.com/">Itasca ISD Coding Lessons</a></div>
    <div class="col-md-3"><a href="http://cyoungpllc.herokuapp.com/">Landing page for Law Office of Carlie E. Young, PllC (In Progress)</a></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3>Resume</h3>
    <h4>I am outgoing, cheerful, and an extremely effective communicator. Comfortable working in any client facing role, or with folks of diverse backgrounds, I excel at both team oriented work as well as individualized tasks.</h4>
    <h5>RELEVANT WORK EXPERIENCE</h5>
    <h6>Recruiter Assistant | New Iron Group, Inc</h6>
    <h6>Mar 2016 - Present</h6>
    <ul>
      <li>Coordinate supervising recruiter’s Google Calendar events: set phone screens with qualified candidates and supervisor based on skill set, location, and work status. Responsible for setting Google Calendar events for client-to-candidate  interview events.</li>
      <li>Conduct phone screens for candidates based on supervising recruiter’s assignment, recommend submission of highly-qualified candidates to supervising recruiter</li>
      <li>Maintain accurate data entry on a weekly basis - via internal software, DropBox, and Google Spreadsheet</li>
      <li>Responsible for writing, reviewing, and editing weekly job descriptions to post on Dice.com and Monster.com</li>
      <li>Triage incoming applicant resumes from main office Gmail account based on relevant, available client positions</li>
      <li>Source qualified candidates through social media (LinkedIn, MeetUp) and community events</li>
      <li>Maintain Twitter account - doubled the number of followers since April of 2016</li>
    </ul>
    <h6>Calendar Coordinator / Admin Assistant | Douglas Foundation Repair, LLC</h6>
    <h6>Mar 2015 - Mar 2016
</h6>
  </div>
</div>
</div>