<div class="container">
  <div class="row">
    <h3>Relevent Links</h3>
    <div class="col-sm-3"><a href="https://github.com/erlaroche" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">GitHub Link</a></div>
    <div class="col-sm-3"><a href="https://twitter.com/GoddessInnana" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">Twitter Link</a></div>
    <div class="col-sm-3"><a href="https://www.linkedin.com/in/emma-laroche-8b91113a" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">LinkedIn Profile</a></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3>Recent Projects</h3>
    <div class="col-md-3"><a href="http://www.misscarolsboutique.com/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">Miss Carols Ballet Boutique</a>
    </div>
    <div class="col-md-6"><a href="http://itascaisdlessons.herokuapp.com/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">Itasca ISD Coding Lessons</a></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3>Resume</h3>
    <h4>I am outgoing, cheerful, and an extremely effective communicator. Comfortable working in any client-facing role, or with folks of diverse backgrounds, I excel at both team-oriented work as well as individualized tasks.</h4>
    <h5>RELEVANT WORK EXPERIENCE</h5>
    <h6>Contractor / Guest Booker | Interview Connections</h6>
    <h6>Nov 2016 - Present</h6>
    <ul>
      <li>Interview Connections is a premier guest booking agency for podcasters and guest experts.</li>
      <li>Research podcasts based on genre and type and connect qualified experts in their respective industries/fields with well-suited podcast hosts for great guest interviews.</li>
      <li>Technology used includes Gmail, Google Drive, Google Docs, Google Spreadsheets, and Highrise (CRM)</li>
    </ul>
    <h6>Recruiter Assistant | New Iron Group, Inc</h6>
    <h6>Mar 2016 - Oct 2016</h6>
    <ul>
      <li>Coordinate supervising recruiter’s Google Calendar events: set phone screens with qualified candidates and supervisor based on skill set, location, and work status. Responsible for setting Google Calendar events for client-to-candidate  interview events.</li>
      <li>Conduct phone screens for candidates based on supervising recruiter’s assignment, recommend submission of highly-qualified candidates to supervising recruiter</li>
      <li>Maintain accurate data entry on a weekly basis - via internal software, DropBox, and Google Spreadsheet</li>
      <li>Responsible for writing, reviewing, and editing weekly job descriptions to post on Dice.com and Monster.com</li>
      <li>Triage incoming applicant resumes from main office Gmail account based on relevant, available client positions</li>
      <li>Source qualified candidates through social media (LinkedIn, MeetUp) and community events</li>
      <li>Maintain Twitter account - doubled the number of followers since April of 2016</li>
    </ul>
    <h6>Calendar Coordinator / Admin Assistant | Douglas Foundation Repair, LLC</h6>
    <h6>Mar 2015 - Mar 2016</h6>
    <ul>
      <li>Maintain phone lines with professional phone etiquette. Take client information regarding foundation concerns and accurate contact information. Set discretionary appointments for sales representatives</li>
      <li>Responsible for accurate and timely money collection, process large credit card payments over the phone with both clients and vendors, invoice clients, coordinate payment schedules</li>
      <li>Maintain accurate data entry in Google Spreadsheet and Google Calendar, maintain Twitter and Facebook accounts, as well as office Gmail account</li>
      <li>Accurately quote mud-jacking prices for sinking driveways based on photos provided by clients</li>
    </ul>
    <h6>Junior Developer Internship | Astonish Design</h6>
    <h6>Apr 2014 - Sept 2014</h6>
    <ul>
      <li>Learn Agile Scrum procedures and rituals, studied the basics of PHP and Drupal</li>
      <li>Worked on B2B website to bring dental associates seeking new opportunities to dental practices with employment opportunities</li>
      <li>Update content in Drupal via the Drush command line, install modules, write update hooks when alterations required for the database, managed Associate and Practice form fields and values, and utilize the Rules Module in Drupal to send emails to Associates, Practices, and Site Administrators</li>
      <li>Attended Drupal Con 2014</li>
    </ul>
    <h6>Executive Assistant | The Woodlands Property Management</h6>
    <h6>May 2013 - Nov 2014</h6>
    <ul>
      <li>Design and maintain Dempsey Properties website using Wix.com. Designed and maintain Facebook page and Pinterest profile</li>
      <li>Organize daily emails through main email account</li>
      <li>Perform property management duties including hiring, overseeing, and process pest control, pool maintenance, and general property repairs.</li>
      <li>AAssist with housing/lease contracts and ensure the accurate and timely submission of all imperative documents using DocuSign</li>
    </ul>
  </div>
</div>
</div>